main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: azure;
    border-radius: 10px;
    border: 1px solid black;
}
.title {
    grid-column: 1/4;
    text-align: center;
}
.image {
    grid-column: 1;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
img {width: 60%;}
.text {
    grid-column: 2;
    text-align: center;
    margin: 1rem;
}
.text h2 {margin: 0;}